// bower:scss
// endbower
@font-face {
  src: url("../fonts/Geometria.woff");
  font-family: "Geometria";
  font-weight: 400;
}

@font-face {
  src: url("../fonts/Geometria-Light.woff");
  font-family: "Geometria";
  font-weight: 300;
}

@font-face {
  src: url("../fonts/Geometria-Medium.woff");
  font-family: "Geometria";
  font-weight: 500;
}

@font-face {
  src: url("../fonts/Geometria-Bold.woff");
  font-family: "Geometria";
  font-weight: 700;
}

body {
  overflow-x: hidden;
  background-color: #ffffff;
  color: #000000;
  font-family: "Geometria", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

.d-top {
  display: block;
  width: 100%;
  position: relative;
  padding: 16px 0 0 0;
  background: url("../images/header_bg.svg") no-repeat bottom center;
  background-size: 100% auto;
  &__top {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
  &__logo {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 285px;
    margin-bottom: 25px;
    text-align: center;
    img {
      max-width: 100%;
    }
    &-title {
      display: block;
      margin: -5px 0 0 0;
      color: #929292;
      font-size: 14px;
      font-weight: 400;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__info {
    display: inline-block;
    flex: 1;
    margin-top: 30px;
  }
  &__row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    img {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 10px;
      object-fit: scale-down;
    }
    p {
      display: inline-block;
      margin: 0;
      color: #000000;
      font-size: 14px;
      font-weight: 400;
    }
    a {
      display: inline-block;
      margin: 0;
      color: #000000;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        color: #cf3a3b;
        text-decoration: none;
      }
    }
  }
  &__call {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    flex: 1;
    margin-top: 30px;
    & > span {
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-end;
    }
  }
  &__number {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    img {
      display: inline-block;
      margin-right: 7px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #ce393b;
      text-decoration: none;
    }
  }
  &__button {
    display: inline-block;
    padding: 13px 28px;
    border-radius: 999rem;
    background: linear-gradient(to right, #ce393b 0%, #f3582c 100%);
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.d-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    position: relative;
    a {
      display: block;
    }
  }
  &__drop {
    display: none;
    position: absolute;
    width: 300px;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 8px 0;
    list-style: none;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 7px 7px;
    background-color: #ffffff;
    z-index: 5;
    li {
      display: block;
      & > span {
        display: block;
        position: relative;
      }
    }
  }
  &__subdrop {
    display: none;
    position: absolute;
    width: 300px;
    top: 0;
    left: 100%;
    margin: -8px 0 0 0;
    padding: 8px 0;
    list-style: none;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 7px 7px;
    background-color: #f8f8f8;
    z-index: 6;
    li {
      display: block;
      a:hover {
        background-color: #f0f0f0 !important;
      }
    }
  }
  &__finish {
    display: none;
    position: absolute;
    width: 300px;
    top: 0;
    left: 100%;
    margin: -8px 0 0 0;
    padding: 8px 0;
    list-style: none;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 7px 7px;
    background-color: #f0f0f0;
    z-index: 7;
    li {
      display: block;
      a:hover {
        background-color: #dddddd !important;
      }
    }
  }
  &__link {
    display: block;
    margin: 10px 20px;
    padding: 0;
    border-bottom: 2px solid transparent;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      border-color: #ffffff;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__sublink {
    display: block;
    padding: 6px 30px 6px 20px;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-color: #f8f8f8;
      color: #000000;
      text-decoration: none;
    }
  }
}

.d-welcome {
  display: block;
  width: 100%;
  position: relative;
  background-image: linear-gradient(to top, #f8f8f8 0%, #ffffff 100%);
  &__content {
    min-height: 240px;
  }
  &__slick {
    display: block;
    width: 100%;
    .slick-dots {
      bottom: 25px;
    }
    .slick-dots li {
      margin: 0;
    }
    .slick-dots li.slick-active button:before {
      background-color: #ce393b;
    }
    .slick-dots li button:before {
      content: "";
      width: 9px;
      height: 9px;
      border-radius: 999rem;
      border: 1px solid #478fc1;
      background-color: transparent;
      line-height: 1;
      opacity: 1;
    }
    .slick-next,
    .slick-prev {
      width: 22px;
      height: 40px;
      opacity: 0.3;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 1;
      }
    }
    .slick-next {
      margin-right: -50px;
      background: url("../images/slick_big_right_2.png");
      &:before {
        display: none;
      }
    }
    .slick-prev {
      margin-left: -50px;
      background: url("../images/slick_big_left_2.png");
      &:before {
        display: none;
      }
    }
  }
  &__slide {
    display: block;
    width: 100%;
    padding: 130px 0 120px 0;
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__title {
    display: block;
    width: 100%;
    max-width: 700px;
    margin: 0 0 20px 0;
    color: #000000;
    font-size: 35px;
    font-weight: 500;
    line-height: 1.4;
    text-transform: uppercase;
  }
  &__text {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 0 30px 0;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
  }
  &__button {
    display: inline-block;
    padding: 13px 28px;
    border-radius: 999rem;
    background: linear-gradient(to right, #ce393b 0%, #f3582c 100%);
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.d-main-title {
  display: block;
  position: relative;
  padding: 25px 0 35px 0;
  background: url("../images/bg_home_1.svg") no-repeat center -55px;
  background-size: 100% auto;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.d-home-title {
  display: block;
  position: relative;
  margin: 0 0 0 55px;
  padding: 40px 0 60px 0;
  color: #000000;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  z-index: 0;
  &__more {
    display: inline-block;
    margin-left: 6px;
    font-size: 30px;
    font-weight: 500;
    text-transform: lowercase;
    color: #929292;
    font-size: 18px;
  }
  &:before {
    display: block;
    content: "";
    position: absolute;
    right: 100%;
    top: 5px;
    width: 64px;
    height: 77px;
    margin-right: -20px;
    background: url("../images/icon_title.svg") no-repeat center;
    background-size: contain;
    z-index: -1;
  }
}

.d-services {
  display: block;
  width: 100%;
  margin-top: -92px;
  padding: 160px 0 0 0;
  background: url("../images/bg_home_2.svg") no-repeat center bottom 90px;
  background-size: 120%;
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
  &__card {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 370px;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid transparent;
    box-shadow: 0 16px 29px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: #ffffff;
    &-image {
      display: inline-block;
      width: 120px;
      height: 120px;
      border-radius: 10px;
      margin-right: 20px;
      object-fit: cover;
    }
    &-title {
      display: inline-block;
      margin: 0;
      color: #000000;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 16px 29px rgba(0, 0, 0, 0.1);
      border-color: #478fc1;
      color: #000000;
      text-decoration: none;
    }
  }
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 0 35px 0;
  }
}

.d-button-transparent {
  display: inline-block;
  padding: 13px 50px;
  border: 0;
  outline: 0;
  border-radius: 999rem;
  border: 1px solid #ce393b;
  background: transparent;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-out;
  &:hover,
  &:active,
  &:focus {
    box-shadow: 0 16px 29px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #ce393b 0%, #f3582c 100%);
    border-color: transparent;
    color: #ffffff;
    text-decoration: none;
  }
}

.d-doctors {
  display: block;
  width: 100%;
  padding: 40px 0 0 0;
  position: relative;
  background: url("../images/bg_home_3.svg") no-repeat -150px -80px;
  background-size: contain;
  &__cards {
    display: block;
    width: 100%;
    position: relative;
    .slick-next,
    .slick-prev {
      width: 22px;
      height: 40px;
      opacity: 0.5;
      filter: brightness(200%) grayscale(1);
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 1;
        filter: grayscale(0);
      }
    }
    .slick-next {
      margin-right: -50px;
      background: url("../images/slick_big_right_2.png");
      &:before {
        display: none;
      }
    }
    .slick-prev {
      margin-left: -50px;
      background: url("../images/slick_big_left_2.png");
      &:before {
        display: none;
      }
    }
    .item {
      margin: 0 auto;
      padding: 0 26px;
    }
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 370px;
    margin: 0 10px 30px 10px;
    padding: 20px;
    border: 1px solid transparent;
    box-shadow: 0 16px 29px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      border: 1px solid #478fc1;
      color: #000000;
      text-decoration: none;
    }
    &-image {
      display: block;
      width: 100%;
      height: 230px;
      margin-bottom: 15px;
      border-radius: 10px;
      object-fit: cover;
    }
    &-content {
      display: block;
      min-height: 130px;
    }
    &-title {
      display: block;
      margin: 0 0 10px 0;
      color: #000000;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;
    }
    &-text {
      display: block;
      margin: 0;
      color: #929292;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
    &-button {
      display: block;
      width: 100%;
      padding: 5px;
      border-radius: 999rem;
      background: linear-gradient(to right, #ce393b 0%, #f3582c 100%);
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0 20px 0;
  }
}

.d-features {
  display: block;
  width: 100%;
  padding: 115px 0 100px 0;
  background: url("../images/bg_home_4.svg") no-repeat -265px 0px;
  background-size: contain;
  &_about {
    margin-top: -315px;
    padding: 430px 0 100px 0;
    background: url(../images/bg_home_4.svg) no-repeat center center;
    background-size: 144% auto;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 290px;
    margin-bottom: 40px;
    text-align: center;
    &-image {
      display: block;
    }
    &-title {
      display: block;
      margin: 0 0 15px 0;
      color: #000000;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
    }
    &-text {
      display: block;
      margin: 0;
      color: #929292;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }
}

.d-seo {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -410px;
  padding: 535px 0 100px 0;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  z-index: -1;
  &_bottom {
    margin-top: -650px;
    padding-bottom: 250px;
  }
  &_1 {
    background: url("../images/seo_bg_1.png") no-repeat;
    background-size: auto auto;
    background-position: right calc(50vw + 30px) bottom 30px;
  }
  &_2 {
    background: url("../images/seo_bg_2.png") no-repeat left calc(50vw + 30px)
      bottom 30px;
    background-size: auto auto;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #000000;
    font-weight: 500;
    text-transform: uppercase;
  }
  b,
  strong {
    font-weight: 500;
  }
  ul {
    padding-left: 10px;
    list-style: none;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    li {
      display: block;
      position: relative;
      padding-left: 10px;
      &:before {
        display: block;
        position: absolute;
        content: "•";
        left: 0;
        top: 2px;
        font-size: 16px;
        color: #cf3a3b;
        font-weight: 400;
      }
    }
  }
  &__content {
    display: block;
  }
}

.d-questions {
  display: block;
  width: 100%;
  position: relative;
  padding: 0 0 180px 0;
  background: url("../images/bg_home_7.svg") no-repeat center bottom;
  background-size: 120% auto;
  &__slick {
    display: block;
    width: 100%;
    position: relative;
    .item {
      margin: 0 auto;
      padding: 0 26px;
    }
    .slick-next,
    .slick-prev {
      width: 22px;
      height: 40px;
      opacity: 0.3;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 1;
      }
    }
    .slick-next {
      margin-right: -50px;
      background: url("../images/slick_big_right_2.png");
      &:before {
        display: none;
      }
    }
    .slick-prev {
      margin-left: -50px;
      background: url("../images/slick_big_left_2.png");
      &:before {
        display: none;
      }
    }
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 370px;
    margin: 0 5px 30px 5px;
    padding: 20px 20px 15px 20px;
    border: 1px solid transparent;
    box-shadow: 0 16px 29px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      border: 1px solid #478fc1;
      text-decoration: none;
    }
    &-content {
      height: 380px;
      margin-bottom: 10px;
      overflow: hidden;
    }
    &-title {
      display: block;
      margin: 0 0 10px 0;
      color: #000000;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;
    }
    &-what {
      display: block;
      margin: 0 0 34px 0;
      color: #929292;
      font-size: 16px;
      font-weight: 400;
    }
    &-text {
      display: block;
      margin: 0;
      color: #000000;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
    &-link {
      display: inline-block;
      color: #ce393b;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      text-decoration: underline;
    }
  }
}

.d-papers {
  display: block;
  width: 100%;
  position: relative;
  margin-top: -250px;
  background: url("../images/bg_home_10.svg") no-repeat center 20px;
  background-size: 150% auto;
  z-index: 0;
  &_about {
    margin-top: -60px;
    padding: 100px 0 320px 0;
    background: url("../images/papers_bg_2.svg") no-repeat center center;
    background-size: 125% auto;
  }
  &__slick {
    display: block;
    width: 100%;
    position: relative;
    .item {
      margin: 0 auto;
      padding: 0 26px;
    }
    .slick-next,
    .slick-prev {
      width: 22px;
      height: 40px;
      opacity: 0.3;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 1;
      }
    }
    .slick-next {
      margin-right: -50px;
      background: url("../images/slick_big_right_2.png");
      &:before {
        display: none;
      }
    }
    .slick-prev {
      margin-left: -50px;
      background: url("../images/slick_big_left_2.png");
      &:before {
        display: none;
      }
    }
  }
  &__card {
    display: inline-block;
    margin: 10px 5px 30px 5px;
    &-image {
      display: block;
      width: 100%;
      max-width: 370px;
      height: 470px;
      box-shadow: 0 16px 29px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      background-color: #ffffff;
      object-fit: cover;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      transform: scale(1.02);
      text-decoration: none;
    }
  }
}

.d-news {
  display: block;
  width: 100%;
  position: relative;
  padding: 70px 0 0 0;
  background: url("../images/bg_home_11.svg") no-repeat center bottom 10vh;
  background-size: 150% auto;
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 270px;
    margin-bottom: 28px;
    &-date {
      display: block;
      margin: 0 0 7px 0;
      color: #929292;
      font-size: 16px;
      font-weight: 400;
    }
    &-main {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      height: 270px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 20px;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        color: #ffffff;
        text-decoration: none;
      }
    }
    &-title {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      width: 100%;
      min-height: 160px;
      padding: 16px 20px;
      border-radius: 0 0 20px 20px;
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.5;
    }
  }
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 20px 0;
  }
}

.d-reviews {
  display: block;
  width: 100%;
  margin-top: -110px;
  padding: 110px 0 160px 0;
  position: relative;
  background: url("../images/bg_home_6.svg") no-repeat 190% 0px;
  background-size: 85%;
  &__button {
    margin-top: 270px;
  }
  &__slick {
    display: block;
    width: 100%;
    position: relative;
    .slick-next,
    .slick-prev {
      width: 40px;
      height: 40px;
      opacity: 0.8;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 1;
      }
    }
    .slick-next {
      right: 100%;
      top: 60%;
      margin-right: 60px;
      background: url("../images/slick_right_3.png");
      &:before {
        display: none;
      }
    }
    .slick-prev {
      top: 40%;
      margin-left: -75px;
      background: url("../images/slick_left_3.png");
      &:before {
        display: none;
      }
    }
  }
  &__card {
    display: block;
    &-header {
      display: flex;
      align-items: center;
      margin-bottom: 26px;
    }
    &-image {
      display: inline-block;
      width: 120px;
      height: 120px;
      margin-right: 10px;
      border-radius: 999rem;
      object-fit: cover;
    }
    &-name {
      display: inline-block;
      color: #ffffff;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;
    }
    &-text {
      display: block;
      height: 168px;
      overflow: hidden;
      margin: 0;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }
}

.d-consult {
  display: block;
  width: 100%;
  position: relative;
  margin-top: -110px;
  padding: 250px 0 410px 0;
  background: url("../images/bg_home_9.png") no-repeat -60px 0px,
    url("../images/bg_home_8.svg") no-repeat 160% 0px;
  background-size: auto, contain;
  &__row {
    display: flex;
    width: 100%;
    align-items: flex-start;
  }
  &__info {
    display: inline-block;
    margin: 0 0 0 30px;
    color: #929292;
    font-size: 12px;
    font-weight: 300;
  }
  &__title {
    display: block;
    margin: 0 0 18px 0;
    color: #000000;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__subtitle {
    display: block;
    margin: 0 0 22px 0;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
  }
  &__form {
    display: flex;
    flex-flow: column nowrap;
    input {
      display: block;
      width: 100%;
      max-width: 350px;
      margin-bottom: 20px;
      padding: 11px 22px;
      outline: 0;
      border-radius: 20px;
      border: 1px solid #b8b8b8;
      background-color: #ffffff;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      transition: all 0.2s ease-out;
      &:focus {
        border-color: #ce393b;
      }
    }
  }
  &__button {
    display: block;
    width: 100%;
    max-width: 350px;
    padding: 13px 50px;
    border: 0;
    outline: 0;
    border-radius: 999rem;
    border: 1px solid #ce393b;
    background: transparent;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 16px 29px rgba(0, 0, 0, 0.1);
      background: linear-gradient(to right, #ce393b 0%, #f3582c 100%);
      border-color: transparent;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.d-page-consult {
  display: block;
  width: 100%;
  position: relative;
  margin-top: 0;
  padding: 250px 0 410px 0;
  background: url("../images/bg_home_9.png") no-repeat -60px 0px,
    url("../images/bg_home_8.svg") no-repeat 160% 0px;
  background-size: auto, contain;
  &__row {
    display: flex;
    width: 100%;
    align-items: flex-start;
  }
  &__info {
    display: inline-block;
    margin: 0 0 0 30px;
    color: #929292;
    font-size: 12px;
    font-weight: 300;
  }
  &__title {
    display: block;
    margin: 0 0 18px 0;
    color: #000000;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__subtitle {
    display: block;
    margin: 0 0 22px 0;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
  }
  &__form {
    display: flex;
    flex-flow: column nowrap;
    input {
      display: block;
      width: 100%;
      max-width: 350px;
      margin-bottom: 20px;
      padding: 11px 22px;
      outline: 0;
      border-radius: 20px;
      border: 1px solid #b8b8b8;
      background-color: #ffffff;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      transition: all 0.2s ease-out;
      &:focus {
        border-color: #ce393b;
      }
    }
  }
  &__button {
    display: block;
    width: 100%;
    max-width: 350px;
    padding: 13px 50px;
    border: 0;
    outline: 0;
    border-radius: 999rem;
    border: 1px solid #ce393b;
    background: transparent;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 16px 29px rgba(0, 0, 0, 0.1);
      background: linear-gradient(to right, #ce393b 0%, #f3582c 100%);
      border-color: transparent;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.d-consult_about {
  margin-top: -300px;
}

.d-footer {
  display: block;
  width: 100%;
  position: relative;
  margin-top: -280px;
  padding: 180px 0 40px 0;
  background: url("../images/footer_bg.svg") no-repeat center bottom;
  background-size: 100% auto;
  z-index: 0;
  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
    }
    &-link {
      display: inline-block;
      margin: 0 12px;
      padding: 6px 0;
      border-bottom: 2px solid transparent;
      color: #ffffff;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: #ffffff;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  &__social {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 1;
    img {
      max-width: 100%;
      margin: 2px 9px;
    }
    a {
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  &__creators {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: -35px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    z-index: 0;
    img {
      margin: 0 6px;
    }
    a {
      color: #ffffff;
      text-decoration: underline;
      cursor: pointer;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.d-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.8);
  }
  &__close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.4s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      transform: rotate(360deg);
      text-decoration: none;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 570px;
    margin: 10px 0;
    padding: 55px 65px 50px 65px;
    box-shadow: 0 16px 29px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background: #ffffff url("../images/modal_bg.svg") no-repeat center bottom;
    background-size: contain;
  }
  &__title {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 32px 0;
    color: #000000;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    z-index: 1;
    &:before {
      display: block;
      content: "";
      position: absolute;
      right: 100%;
      top: -35px;
      width: 64px;
      height: 77px;
      margin-right: -20px;
      background: url("../images/icon_title.svg") no-repeat center;
      background-size: contain;
      z-index: -1;
    }
  }
  &__subtitle {
    display: block;
    width: 100%;
    margin: 0 0 32px 0;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
  &__info {
    display: inline-block;
    color: #929292;
    font-size: 12px;
    font-weight: 300;
  }
  &__form {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    input {
      display: block;
      width: 100%;
      margin-bottom: 20px;
      padding: 11px 22px;
      outline: 0;
      border-radius: 20px;
      border: 1px solid #b8b8b8;
      background-color: #ffffff;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      transition: all 0.2s ease-out;
      &:focus {
        border-color: #ce393b;
      }
    }
    textarea {
      display: block;
      width: 100%;
      min-height: 50px;
      margin-bottom: 30px;
      padding: 11px 22px;
      outline: 0;
      border-radius: 20px;
      border: 1px solid #b8b8b8;
      background-color: #ffffff;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      transition: all 0.2s ease-out;
      &:focus {
        border-color: #ce393b;
      }
    }
  }
  &__button {
    display: block;
    width: 100%;
    max-width: 210px;
    padding: 13px;
    border: 0;
    outline: 0;
    border-radius: 999rem;
    background: linear-gradient(to right, #ce393b 0%, #f3582c 100%);
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.d-page-pages {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0 0 20px 0;
  list-style: none;
  li {
    display: inline-block;
    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      min-width: 40px;
      margin: 2px 10px;
      padding: 8px 2px;
      border-radius: 10px;
      border: 1px solid #478fc1;
      background-color: #ffffff;
      color: #478fc1;
      text-align: center;
      font-size: 20px;
      font-weight: 500;
      text-transform: uppercase;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        background-color: #478fc1;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  &_active {
    background-color: #478fc1 !important;
    color: #ffffff !important;
  }
}

.d-page {
  display: block;
  position: relative;
  width: 100%;
  z-index: 0;
  &_news {
    background: url("../images/page_bg_1.svg") no-repeat center bottom;
    background-size: 150% auto;
  }
  &_discount {
    background: url("../images/page_bg_2.svg") no-repeat center 57%;
    background-size: 275% auto;
  }
  &_doctor {
    background: url("../images/doctor_bg_2.svg") no-repeat center bottom;
    background-size: 255% auto;
  }
  &_doctors {
    background: url("../images/page_bg_3.svg") no-repeat center top;
    background-size: 150% auto;
  }
  &_services {
    background: url("../images/page_bg_4.svg") no-repeat -250px -1000px;
    background-size: 200% auto;
  }
  /* &_prices {
    background: url("../images/page_bg_4.svg") no-repeat -250px bottom;
    background-size: 150% auto;
  } */
  &_service {
    background: url("../images/page_bg_5.svg") no-repeat center bottom;
    background-size: 260% auto;
  }
  &_about {
    background: url("../images/about_5.png") no-repeat
      calc((100vw - 1200px) / 2 - 195px) 205px;
    background-size: 621px 414px;
  }
  &__levels {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 20px 0;
    list-style: none;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    a {
      color: #000000;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        color: #ce393b;
        text-decoration: none;
      }
    }
    li {
      display: inline-block;
      img {
        display: inline-block;
        margin: 0 8px 2px 8px;
      }
    }
  }
}

.d-page-news {
  display: block;
  width: 100%;
  padding: 45px 0 150px 0;
  p {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  &__image {
    display: block;
    width: 100%;
    max-width: 470px;
    height: 330px;
    object-fit: cover;
    border-radius: 10px;
  }
  &__title {
    display: block;
    margin: 0 0 20px 0;
    color: #000000;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__content {
    display: block;
    width: 100%;
    margin-top: 40px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #000000;
      font-weight: 500;
      text-transform: uppercase;
    }
    b,
    strong {
      font-weight: 500;
    }
    ul {
      padding-left: 10px;
      list-style: none;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      li {
        display: block;
        position: relative;
        padding-left: 10px;
        &:before {
          display: block;
          position: absolute;
          content: "•";
          left: 0;
          top: 2px;
          font-size: 16px;
          color: #cf3a3b;
          font-weight: 400;
        }
      }
    }
    &__content {
      display: block;
    }
  }
}

.d-page-discount {
  display: block;
  position: relative;
  width: 100%;
  &__card {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid transparent;
    box-shadow: 0 16px 29px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 16px 29px rgba(0, 0, 0, 0.1);
      border: 1px solid #478fc1;
      text-decoration: none;
    }
    &-image {
      display: block;
      width: 100%;
      max-width: 330px;
      height: 210px;
      margin-right: 50px;
      border-radius: 10px;
      object-fit: cover;
    }
    &-content {
      display: block;
      width: 100%;
      max-width: 750px;
    }
    &-header {
      display: flex;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 20px;
    }
    &-title {
      display: block;
      width: 100%;
      max-width: 520px;
      height: 48px;
      overflow: hidden;
      margin: 0 0 12px 0;
      color: #000000;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;
      text-transform: uppercase;
    }
    &-info {
      display: block;
      margin: 0;
      color: #929292;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
    &-counter {
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 210px;
      padding: 3px 30px 6px 30px;
      border-radius: 10px;
      background-color: #478fc1;
      text-align: center;
    }
    &-remain {
      display: block;
      margin-bottom: 6px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
    }
    &-number {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 30px;
      font-weight: 500;
      text-transform: uppercase;
    }
    &-text {
      display: block;
      height: 96px;
      overflow: hidden;
      margin: 0;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }
}

.d-page-doctors {
  display: block;
  position: relative;
  width: 100%;
  &__title {
    display: block;
    margin: 0 0 24px 0;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 60px;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 370px;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid transparent;
    box-shadow: 0 16px 29px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      border: 1px solid #478fc1;
      color: #000000;
      text-decoration: none;
    }
    &-image {
      display: block;
      width: 100%;
      height: 230px;
      margin-bottom: 16px;
      border-radius: 10px;
      object-fit: cover;
    }
    &-content {
      display: block;
      width: 100%;
      height: 130px;
      overflow: hidden;
    }
    &-name {
      display: block;
      margin: 0 0 10px 0;
      color: #000000;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;
    }
    &-who {
      display: block;
      margin: 0 0 5px 0;
      color: #929292;
      font-size: 16px;
      font-weight: 400;
    }
    &-button {
      display: block;
      width: 100%;
      margin: 0;
      padding: 6px 12px;
      border: 0;
      outline: 0;
      border-radius: 999rem;
      background-image: linear-gradient(to right, #ce393b 0%, #f3582c 100%);
      text-align: center;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.d-home-service {
  display: block;
  width: 100%;
  position: relative;
  padding-bottom: 100px;
  &__main {
    display: block;
    width: 100%;
    position: relative;
    box-shadow: 0 16px 29px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: #ffffff;
  }
  &__image {
    display: block;
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }
  &__subtitle {
    display: block;
    margin: 0 0 15px 0;
    font-size: 16px;
    color: #000000;
    font-weight: 500;
  }
  &__category {
    display: block;
    margin: 0 0 35px 0;
    padding: 0;
    list-style: none !important;
    li {
      display: block;
      position: relative;
      padding: 0 !important;
      color: #478fc1;
      font-size: 16px;
      font-weight: 400;
      &:before {
        display: none !important;
      }
      a {
        display: block;
        position: relative;
        padding-left: 20px;
        margin: 0 0 14px 0;
        color: #478fc1;
        font-size: 16px;
        font-weight: 400;
        &:before {
          display: block;
          position: absolute;
          content: "—";
          left: 0;
          top: 0;
          color: #478fc1;
          font-size: 16px;
          font-weight: 400;
        }
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover,
        &:active,
        &:focus {
          color: #ce393b;
          text-decoration: none;
        }
      }
    }
  }
  &__content {
    display: block;
    width: 100%;
    position: relative;
    padding: 40px 20px 20px 20px;
    p {
      margin-bottom: 30px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #000000;
      font-weight: 500;
      text-transform: uppercase;
    }
    b,
    strong {
      font-weight: 500;
    }
    ul {
      padding-left: 10px;
      list-style: none;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      li {
        display: block;
        position: relative;
        padding-left: 10px;
        &:before {
          display: block;
          position: absolute;
          content: "•";
          left: 0;
          top: 2px;
          font-size: 16px;
          color: #cf3a3b;
          font-weight: 400;
        }
      }
    }
  }
}

.d-service-aside {
  display: block;
  width: 100%;
  position: relative;
  padding: 20px;
  box-shadow: 0 16px 29px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: #ffffff;
  &__title {
    display: block;
    margin: 0 0 18px 0;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__ul {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    a {
      display: block;
      margin: 10px 0;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        color: #ce393b;
        text-decoration: none;
      }
    }
    & > li {
      display: block;
      position: relative;
      margin-left: 15px;
      padding: 4px 16px;
      border-bottom: 1px dashed #b2b2b2;
      color: #000000;
      font-size: 18px;
      font-weight: 500;
      &:last-child {
        border: none;
      }
      & > ul {
        display: none;
        margin: 0;
        padding: 0;
        list-style: none;
        & > li {
          display: block;
          position: relative;
          margin-left: 15px;
          margin-right: 5px;
          padding: 4px 16px;
          color: #000000;
          font-size: 16px;
          font-weight: 500;
          &:before {
            display: block;
            position: absolute;
            content: "";
            width: 5px;
            height: 10px;
            left: 0;
            top: 10px;
            background: url("../images/icon_droper.png") no-repeat center;
            background-size: contain;
            transition: all 0.2s ease-out;
          }
          & > ul {
            display: none;
          }
        }
      }
      &:before {
        display: block;
        position: absolute;
        content: "";
        width: 6px;
        height: 12px;
        left: 0;
        top: 10px;
        background: url("../images/icon_droper.png") no-repeat center;
        background-size: contain;
        transition: all 0.2s ease-out;
      }
    }
  }
  &__links {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__subul {
    margin: 0 0 0 20px;
    padding: 0;
    list-style: none;
  }
  &__dropsubul {
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #ce393b;
      text-decoration: none;
    }
    &_opened {
      &:before {
        transform: rotate(90deg);
      }
    }
  }
  &__droplinks {
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #ce393b;
      text-decoration: none;
    }
    &_opened {
      &:before {
        transform: rotate(90deg);
      }
    }
  }
}

.d-work {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
  &__image {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 330px;
    border-radius: 10px;
    object-fit: cover;
  }
  &__title {
    display: block;
    margin: 0 0 18px;
    color: #000000;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__price {
    display: block;
    margin: 0 0 24px 0;
    font-size: 30px;
    color: #000000;
    font-weight: 500;
    b,
    strong {
      font-weight: 700;
      color: #ce393b;
    }
  }
  &__text {
    display: block;
    height: 120px;
    overflow: hidden;
    margin: 0 0 20px 0;
    color: #929292;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    b,
    strong {
      font-weight: 700;
    }
  }
  &__button {
    display: inline-block;
    padding: 11px 75px;
    border-radius: 999rem;
    background: linear-gradient(to right, #ce393b 0%, #f3582c 100%);
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.d-tabs {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  .nav-tabs {
    border: 0;
  }
  .nav-tabs .nav-link {
    padding: 15px 50px;
    border: 0;
    box-shadow: 0 16px 29px rgba(0, 0, 0, 0.1);
    border-radius: 20px 20px 0 0;
    background-color: #ededed;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.2s ease-out;
    &:hover {
      transform: translateY(5px);
    }
  }
  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    background-color: #ffffff !important;
    color: #ce393b !important;
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    padding: 45px 50px 40px 50px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 16px 29px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    p {
      margin-bottom: 20px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #000000;
      font-weight: 500;
      text-transform: uppercase;
    }
    b,
    strong {
      font-weight: 500;
    }
    ul {
      padding-left: 10px;
      list-style: none;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      li {
        display: block;
        position: relative;
        padding-left: 10px;
        &:before {
          display: block;
          position: absolute;
          content: "•";
          left: 0;
          top: 2px;
          font-size: 16px;
          color: #cf3a3b;
          font-weight: 400;
        }
      }
    }
  }
}

.d-work_fix {
  margin-top: -260px;
}

.d-page-reviews {
  display: block;
  width: 100%;
  position: relative;
  padding: 0 0 100px 0;
  background: url("../images/bg_home_7.svg") no-repeat center bottom;
  background-size: 120% auto;
  &__slick {
    display: block;
    width: 100%;
    position: relative;
    .item {
      margin: 0 auto;
    }
    .slick-next,
    .slick-prev {
      width: 22px;
      height: 40px;
      opacity: 0.3;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 1;
      }
    }
    .slick-next {
      margin-right: -50px;
      background: url("../images/slick_big_right_2.png");
      &:before {
        display: none;
      }
    }
    .slick-prev {
      margin-left: -50px;
      background: url("../images/slick_big_left_2.png");
      &:before {
        display: none;
      }
    }
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 370px;
    margin: 0 5px 30px 5px;
    padding: 20px 20px 15px 20px;
    border: 1px solid transparent;
    box-shadow: 0 16px 29px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      border: 1px solid #478fc1;
      text-decoration: none;
    }
    &-header {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }
    &-image {
      display: inline-block;
      width: 120px;
      height: 120px;
      margin-right: 20px;
      border-radius: 999rem;
      object-fit: cover;
    }
    &-content {
      height: 220px;
      margin-bottom: 10px;
      overflow: hidden;
    }
    &-title {
      display: block;
      margin: 0;
      color: #000000;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
    }
    &-text {
      display: block;
      margin: 0;
      color: #000000;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
    &-link {
      display: inline-block;
      color: #ce393b;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      text-decoration: underline;
    }
  }
}

.d-ask {
  display: block;
  position: relative;
  width: 100%;
  padding: 10px 0 260px 0;
  background: url("../images/ask_bg.svg") no-repeat center top;
  background-size: 235% auto;
  z-index: 0;
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
  }
  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    input {
      display: block;
      width: 100%;
      max-width: 370px;
      margin-bottom: 30px;
      padding: 11px 22px;
      outline: 0;
      border-radius: 20px;
      border: 1px solid #b8b8b8;
      background-color: #ffffff;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      transition: all 0.2s ease-out;
      &:focus {
        border-color: #ce393b;
      }
    }
    textarea {
      display: block;
      width: 100%;
      min-height: 100px;
      margin-bottom: 30px;
      padding: 11px 22px;
      outline: 0;
      border-radius: 20px;
      border: 1px solid #b8b8b8;
      background-color: #ffffff;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      transition: all 0.2s ease-out;
      &:focus {
        border-color: #ce393b;
      }
    }
  }
}

.d-page-doctor {
  display: block;
  position: relative;
  width: 100%;
  padding: 50px 0 60px 0;
  &__content {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    & > .d-home-title {
      padding-bottom: 35px;
    }
    p {
      margin-bottom: 20px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #000000;
      font-weight: 500;
      text-transform: uppercase;
    }
    b,
    strong {
      font-weight: 500;
    }
    ul {
      padding-left: 10px;
      list-style: none;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      li {
        display: block;
        position: relative;
        padding-left: 10px;
        &:before {
          display: block;
          position: absolute;
          content: "•";
          left: 0;
          top: 2px;
          font-size: 16px;
          color: #cf3a3b;
          font-weight: 400;
        }
      }
    }
  }
  &__image {
    display: block;
    width: 100%;
    max-width: 470px;
    height: 330px;
    border-radius: 10px;
    object-fit: cover;
  }
  &__title {
    display: block;
    margin: 45px 0 25px 0;
    color: #000000;
    font-size: 30px;
    font-weight: 500;
  }
  &__who {
    display: block;
    margin: 0 0 20px 0;
    color: #929292;
    font-size: 20px;
    font-weight: 400;
  }
  &__how {
    display: block;
    margin: 0 0 25px 0;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    max-width: 560px;
  }
  &__button {
    display: inline-block;
    padding: 13px 28px;
    border-radius: 999rem;
    background: linear-gradient(to right, #ce393b 0%, #f3582c 100%);
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.table-striped tbody tr:nth-of-type(odd) {
  background: #f8fcff;
}

.table-striped tbody tr:nth-of-type(even) {
  background: #f9f9f9;
}

.table td,
.table th {
  border: 0;
  padding: 10px 20px;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}

.table thead th {
  padding: 14px 20px;
  border: 0;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}

.d-prices {
  display: block;
  width: 100%;
  position: relative;
  padding: 20px;
  box-shadow: 0 16px 29px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: #ffffff;
  &__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 20px 0;
  }
  &__col {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 530px;
  }
  &__link {
    display: block;
    margin: 0 0 10px 0;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #ce393b;
      text-decoration: none;
    }
  }
  &__info {
    display: block;
    margin: 0;
    color: #929292;
    font-size: 14px;
    font-weight: 400;
  }
  &__price {
    display: block;
    margin: 0;
    color: #ce393b;
    font-size: 16px;
    font-weight: 700;
  }
  &__button {
    display: inline-block;
    padding: 3px 30px;
    border: 0;
    outline: 0;
    border-radius: 999rem;
    border: 1px solid #ce393b;
    background: transparent;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 16px 29px rgba(0, 0, 0, 0.1);
      background: linear-gradient(to right, #ce393b 0%, #f3582c 100%);
      border-color: transparent;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__title {
    display: block;
    margin: 0 0 18px 0;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__ul {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    & > li {
      display: block;
      position: relative;
      margin-left: 20px;
      padding: 15px 16px;
      border-bottom: 1px dashed #b2b2b2;
      color: #000000;
      font-size: 18px;
      font-weight: 500;
      &:last-child {
        border: none;
      }
      & > ul {
        display: none;
        margin: 0;
        padding: 0;
        list-style: none;
        & > li {
          display: block;
          position: relative;
          margin-left: 20px;
          margin-right: 5px;
          padding: 10px 16px;
          color: #000000;
          font-size: 16px;
          font-weight: 500;
          &:before {
            display: block;
            position: absolute;
            content: "";
            width: 5px;
            height: 10px;
            left: 0;
            top: 15px;
            background: url("../images/icon_droper.png") no-repeat center;
            background-size: contain;
            transition: all 0.2s ease-out;
          }
          & > ul {
            display: none;
          }
        }
      }
      &:before {
        display: block;
        position: absolute;
        content: "";
        width: 6px;
        height: 12px;
        left: 0;
        top: 20px;
        background: url("../images/icon_droper.png") no-repeat center;
        background-size: contain;
        transition: all 0.2s ease-out;
      }
    }
  }
  &__links {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__subul {
    margin: 0 0 0 20px;
    padding: 0;
    list-style: none;
  }
  &__dropsubul {
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #ce393b;
      text-decoration: none;
    }
    &_opened {
      &:before {
        transform: rotate(90deg);
      }
    }
  }
  &__droplinks {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #ce393b;
      text-decoration: none;
    }
    &_opened {
      &:before {
        transform: rotate(90deg);
      }
    }
  }
}

.d-papers_fix {
  margin-top: 0;
}

.d-about {
  display: block;
  width: 100%;
  position: relative;
  padding: 0 0 120px 0;
  &__image {
    display: block;
    width: 100%;
    max-width: 470px;
    height: 330px;
    border-radius: 10px;
    object-fit: cover;
  }
  &__text {
    display: block;
    margin: 0;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  &__seo {
    display: block;
    width: 100%;
    position: relative;
    margin-top: -800px;
    padding: 850px 0 50px 0;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    background: url("../images/about_6.png") no-repeat center bottom;
    background-size: 100% auto;
    z-index: -1;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #000000;
      font-weight: 500;
      text-transform: uppercase;
    }
    b,
    strong {
      font-weight: 500;
    }
    ul {
      padding-left: 10px;
      list-style: none;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      li {
        display: block;
        position: relative;
        padding-left: 10px;
        &:before {
          display: block;
          position: absolute;
          content: "•";
          left: 0;
          top: 2px;
          font-size: 16px;
          color: #cf3a3b;
          font-weight: 400;
        }
      }
    }
  }
  &__video {
    display: block;
    position: relative;
    width: 100%;
    padding: 0 0 60px 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    z-index: 0;
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 120%;
      height: 85%;
      left: 0;
      bottom: 0;
      margin-left: -300px;
      background: url("../images/about_5.svg") no-repeat center;
      background-size: contain;
      z-index: -1;
    }
    &-preview {
      display: block;
      width: 100%;
      max-width: 770px;
      height: 425px;
      object-fit: cover;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        transform: scale(0.95);
        text-decoration: none;
      }
      img {
        max-width: 100%;
      }
    }
  }
}

.d-map {
  display: block;
  position: relative;
  width: 100%;
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 40px;
    left: calc((100% - 1200px) / 2);
    width: 100%;
    max-width: 470px;
    padding: 35px 25px 30px 25px;
    box-shadow: 0 16px 29px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: #ffffff;
    z-index: 3;
  }
  &__title {
    display: block;
    width: 100%;
    margin: 0 0 12px 0;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
  }
  &__text {
    display: block;
    width: 100%;
    margin: 0 0 18px 0;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    text-align: center;
  }
  &__row {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin: 0 0 10px 0;
    img {
      display: inline-block;
      width: 17px;
      height: 17px;
      margin-right: 10px;
      object-fit: scale-down;
      object-position: left center;
    }
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    a {
      color: #478fc1;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        color: #ce393b;
        text-decoration: none;
      }
    }
  }
  &__button {
    display: inline-block;
    margin-top: 40px;
    padding: 9px 30px;
    border: 0;
    outline: 0;
    border-radius: 999rem;
    border: 1px solid #ce393b;
    background: transparent;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 16px 29px rgba(0, 0, 0, 0.1);
      background: linear-gradient(to right, #ce393b 0%, #f3582c 100%);
      border-color: transparent;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.d-woman_fix {
  margin-top: -150px;
}

.d-footer_home {
  margin-top: -150px;
}

#map {
  display: block;
  position: relative;
  width: 100%;
  height: 650px;
}

.d-nav__sublink-arrow {
  display: inline-block;
  position: relative;
  padding: 4px;
  z-index: 1;
}

.d-top__menu {
  display: none;
}

@media (min-width: 1800px) {
  .d-page_doctor {
    background-position: center 175%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .d-nav__sublink-arrow {
    display: none;
  }
  .d-nav {
    &__droper {
      &:hover {
        & > span > .d-nav__link {
          border-color: #ffffff;
        }
        & > .d-nav__drop {
          display: block;
        }
      }
    }
    &__subdroper {
      &:after {
        display: block;
        position: absolute;
        content: "";
        right: 18px;
        top: 50%;
        margin-top: -5px;
        width: 6px;
        height: 10px;
        background: url("../images/icon_droper.png") no-repeat center;
        background-size: contain;
      }
      &:hover {
        & > span > .d-nav__sublink {
          background-color: #f8f8f8;
        }
        & > .d-nav__subdrop {
          display: block;
        }
      }
    }
    &__finisher {
      &:after {
        display: block;
        position: absolute;
        content: "";
        right: 18px;
        top: 50%;
        margin-top: -5px;
        width: 6px;
        height: 10px;
        background: url("../images/icon_droper.png") no-repeat center;
        background-size: contain;
      }
      &:hover {
        & > span > .d-nav__sublink {
          background-color: #f0f0f0;
        }
        & > .d-nav__finish {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 1880px) {
  .d-consult {
    background: url("../images/bg_home_9.png") no-repeat -500px 0px,
      url("../images/bg_home_8.svg") no-repeat 160% 0px;
  }
  .d-page-consult {
    background: url("../images/bg_home_9.png") no-repeat -500px 0px,
      url("../images/bg_home_8.svg") no-repeat 160% 0px;
  }
  .d-seo {
    &_1 {
      background: url("../images/seo_bg_1.png") no-repeat -950px 0;
      background-size: auto 100%;
    }
  }
}

@media (max-width: 1599px) {
  .d-footer {
    background-size: 130% auto;
  }
  .d-reviews {
    background-size: 130%;
    background-position: 350px bottom;
  }
}

@media (max-width: 1199px) {
  .d-welcome__slick .slick-next {
    margin-right: 15px;
    z-index: 2;
  }
  .d-welcome__slick .slick-prev {
    margin-left: 15px;
    z-index: 2;
  }
  .d-questions__slick .slick-next {
    margin-right: 15px;
    z-index: 2;
  }
  .d-questions__slick .slick-prev {
    margin-left: 15px;
    z-index: 2;
  }
  .d-page-reviews__slick .slick-next {
    margin-right: 15px;
    z-index: 2;
  }
  .d-page-reviews__slick .slick-prev {
    margin-left: 15px;
    z-index: 2;
  }
  .d-papers__slick .slick-next {
    margin-right: 15px;
    z-index: 2;
  }
  .d-papers__slick .slick-prev {
    margin-left: 15px;
    z-index: 2;
  }
  .d-doctors__cards .slick-next {
    margin-right: 15px;
    z-index: 2;
  }
  .d-doctors__cards .slick-prev {
    margin-left: 15px;
    z-index: 2;
  }
  .d-welcome__slide {
    padding: 20px;
    background: #f0f0f0;
  }
  .d-welcome__title {
    font-size: 20px;
  }
  .d-welcome__button {
    padding: 13px 18px;
    font-size: 14px;
  }
  .d-welcome__slick .slick-dots {
    display: none !important;
  }
  .d-welcome__content {
    height: 320px;
    overflow: hidden;
  }
  .d-main-title {
    padding: 20px 0;
    background: none;
    color: #000000;
  }
  .d-services {
    position: relative;
    margin: 0;
    padding: 20px 0;
    background-size: cover;
    background-position: center center;
  }
  .d-home-title {
    margin-left: 30px;
    padding: 20px 0 30px 0;
    font-size: 24px;
  }
  .d-services__card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  .d-services__centered {
    padding: 15px 0 0 0;
  }
  .d-doctors {
    position: relative;
    margin: 0;
    padding: 20px 0;
    background-size: cover;
    background-position: center center;
  }
  .d-doctors__card {
    margin: 0 0 30px 0;
  }
  .d-features {
    position: relative;
    margin: 0;
    padding: 20px 0;
    background-size: cover;
    background-position: center center;
  }
  .d-features__card-image {
    max-width: 100px;
  }
  .d-features__card {
    margin-bottom: 30px;
  }
  .d-seo_1 {
    position: relative;
    margin: 0;
    padding: 20px 0;
    background: #ffffff;
  }
  .d-seo_2 {
    position: relative;
    margin: 0;
    padding: 20px 0;
    background: #ffffff;
  }
  .d-reviews {
    position: relative;
    margin: 0;
    padding: 20px 0;
    background: linear-gradient(to right, #ce393b 0%, #f3582c 100%);
    z-index: 0;
  }
  .d-reviews__button {
    margin: 10px 0;
  }
  .d-reviews__slick .slick-next {
    top: 60px;
    right: 0;
    margin-right: 5px;
  }
  .d-reviews__slick .slick-prev {
    top: 60px;
    left: 0;
    margin-left: 5px;
  }
  .d-reviews__card-header {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .d-reviews__card-image {
    margin: 0 0 15px 0;
  }
  .d-questions {
    position: relative;
    margin: 0;
    padding: 20px 0;
    background-size: cover;
    background-position: center center;
  }
  .d-page-reviews {
    position: relative;
    margin: 0;
    padding: 20px 0;
    background-size: cover;
    background-position: center center;
  }
  .d-consult {
    position: relative;
    margin: 0;
    padding: 20px 0;
    background: #ffffff;
  }
  .d-page-consult {
    position: relative;
    margin: 0;
    padding: 20px 0;
    background: #ffffff;
  }
  .d-papers {
    position: relative;
    margin: 0;
    padding: 20px 0;
    background-size: cover;
    background-position: center center;
  }
  .d-consult__row {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .d-consult__info {
    margin: 10px 0 0 0;
  }
  .d-papers__card-image {
    max-width: 260px;
    height: 380px;
  }
  .d-papers__card {
    margin: 10px auto 30px auto;
  }
  .d-news {
    position: relative;
    margin: 0;
    padding: 20px 0;
    background-size: cover;
    background-position: center center;
  }
  .d-features__cards {
    justify-content: space-around;
  }
  .d-services__cards {
    justify-content: space-around;
  }
  .d-news__cards {
    justify-content: space-around;
  }
  .d-footer {
    position: relative;
    margin: 0;
    padding: 20px 0;
    background: linear-gradient(to right, #ce393b 0%, #f3582c 100%);
  }
  .d-footer__nav {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    li {
      display: block;
      width: 100%;
    }
  }
  .d-footer__creators {
    margin-top: 20px;
  }
  .d-footer__creators {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  .d-top__top {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .d-top__info {
    margin-top: 0;
  }
  .d-top__call {
    align-items: center;
    margin-top: 0;
    text-align: center;
  }
  .d-nav {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    padding: 5px 0;
    border-radius: 10px;
    background: linear-gradient(to right, #ce393b 0%, #f3582c 100%);
  }
  .d-nav__link {
    margin: 5px;
  }
  .d-top {
    background: #ffffff;
  }
  .d-page-news {
    position: relative;
    margin: 0;
    padding: 20px 0;
    background-size: cover;
    background-position: center center;
  }
  .d-page-news__image {
    height: 240px;
  }
  .d-page-news__title {
    margin: 20px 0;
    font-size: 26px;
  }
  .d-page-news__content {
    margin-top: 0;
  }

  .d-page-consult__row {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .d-page-consult__info {
    margin: 10px 0 0 0;
  }
  .d-page-discount__card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .d-page-discount__card-header {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .d-page-discount__card-image {
    margin: 0 0 15px 0;
  }
  .d-page-discount__card-counter {
    margin-top: 10px;
  }
  .d-page-discount__card-title {
    height: auto;
  }
  .d-page-discount__card-image {
    height: 160px;
  }
  .d-page-discount__card-text {
    height: auto;
    font-size: 15px;
  }
  .d-page-doctors__card-image {
    height: 200px;
  }
  .d-page-doctors__cards {
    margin-bottom: 20px;
  }
  .d-page-doctors__title {
    margin-bottom: 10px;
  }
  .d-home-service {
    padding-bottom: 20px;
  }
  .d-home-service__content {
    margin-bottom: 10px;
    padding-top: 20px;
  }
  .d-service-aside {
    padding: 20px 10px;
  }
  .d-prices {
    padding: 20px 10px;
  }
  .nav-tabs .nav-item {
    display: block;
    width: 100%;
    text-align: center;
  }
  .d-work__image {
    height: 200px;
  }
  .d-work__title {
    margin: 12px 0;
    font-size: 23px;
  }
  .d-work__text {
    height: auto;
  }
  .d-work {
    margin-bottom: 20px;
  }
  .d-tabs__content {
    padding: 20px;
  }
  .d-ask {
    padding: 20px 0;
  }
  .d-ask__form input {
    margin-bottom: 20px;
  }
  .d-ask__form textarea {
    margin-bottom: 20px;
  }
  .d-page-doctor {
    padding: 20px 0;
  }
  .d-page-doctor__image {
    height: 240px;
  }
  .d-page-doctor__title {
    margin: 20px 0;
    font-size: 24px;
  }
  .d-page-doctor__row {
    justify-content: space-around;
  }
  .d-page-doctor__button {
    margin-bottom: 10px;
  }
  .d-modal__content {
    padding: 40px 15px 15px 15px;
  }
  .d-modal__title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .d-modal__button {
    max-width: 100%;
    margin-bottom: 6px;
  }
  .d-prices__content {
    justify-content: space-around;
  }
  .d-prices__price {
    margin: 10px 0;
  }
  .d-prices__content {
    padding: 10px 0 5px 0;
  }
  .d-about__image {
    height: 220px;
    margin-bottom: 15px;
  }
  .d-about {
    padding: 0 0 20px 0;
    background: rgba(255, 255, 255, 0.8);
  }
  .d-about__seo {
    margin: 0;
    padding: 20px 0;
    background: rgba(255, 255, 255, 0.8);
  }
  .d-about__video {
    color: #000000;
  }
  .d-about__video-preview {
    height: auto;
  }
  .d-about__video {
    padding-bottom: 20px;
  }
  .d-map {
    display: block;
    position: relative;
    width: 100%;
  }
  #map {
    height: 300px;
  }
  .d-map__content {
    position: relative;
    top: auto;
    left: auto;
    padding: 10px 15px 25px 15px;
  }
  .d-map__button {
    margin-top: 15px;
  }
  .d-questions__card {
    margin: 0 auto 30px auto;
  }
  .d-papers__card {
    display: block;
    img {
      margin: 0 auto;
    }
  }
  .d-reviews__button {
    border-color: #000000;
  }
  .d-reviews__slick .slick-next,
  .d-reviews__slick .slick-prev {
    z-index: 1;
  }
  .d-nav li {
    display: block;
    width: 100%;
    padding: 2px 12px;
    & > span {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
    }
  }
  .d-nav__drop {
    position: relative;
    width: 100%;
  }
  .d-top__call {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }
  .d-top__menu {
    display: inline-flex;
    align-items: center;
    img {
      display: inline-block;
      margin-left: 4px;
    }
  }
  .d-nav {
    display: none;
  }
  .d-nav__subdrop {
    position: relative;
    top: 100%;
    left: 0;
    width: 100%;
    margin: 0;
    background: #dddddd;
  }
  .d-nav__finish {
    position: relative;
    top: 100%;
    left: 0;
    width: 100%;
    margin: 0;
  }
  .d-top__logo {
    order: -1;
    margin-bottom: 15px;
  }
  .d-page-consult__form {
    align-items: center;
  }
  .d-consult__form {
    align-items: center;
  }
  .d-reviews__button {
    display: block;
    max-width: 215px;
    margin: 10px auto;
  }
  .d-hide-mob {
    display: none;
  }
  .d-show-mob {
    display: block !important;
  }
  .d-doctors__centered {
    .d-button-transparent {
      border-color: #000000 !important;
    }
  }
  .d-top__logo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  .d-top__logo img {
    max-width: 120px;
  }
  .d-top__call > span {
    align-items: flex-start;
  }
  .d-top__top {
    padding: 0 15px;
  }
  .d-welcome__slide {
    padding: 15px;
  }
  .d-welcome__slide {
    margin-bottom: 10px;
  }
  .d-top__call {
    align-items: flex-end;
  }
  .d-top__button {
    padding: 13px 18px;
  }
  .d-top__menu img {
    width: 45px;
    height: 45px;
    object-fit: contain;
  }
  .d-top__info {
    margin-left: 5px;
  }
  .d-top__row p {
    color: #ffffff;
    font-size: 13px;
  }
  .d-top__row a {
    color: #ffffff;
  }
  .d-doctors__centered .d-button-transparent {
    border-color: #ffffff !important;
    color: #ffffff !important;
  }
  .d-reviews__button {
    border-color: #ffffff !important;
    color: #ffffff !important;
  }
  .d-reviews {
    .d-home-title {
      color: #ffffff;
    }
  }
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}
